.project
.DS_Store
*.vim
*.idea
*.vscode
*.log
*.env
/nightwatch.json
/nightwatch.conf.js
node_modules
npm-debug.log
lib-cov
coverage.html
selenium-debug.log
phantomjsdriver.log
tests_output
*~
\#*
\.#*
output
/test/hooks_output
/bin/geckodriver*
/coverage/
/.nyc_output/
screenshot.png
/sample
/screens
/logs
html-report/
test-results.xml
chromedriver-mobile/
*.sw[po]
