@tutu:registry=https://artifactory.tutu.ru/artifactory/api/npm/npm-common/
@tutu-utils:registry=http://npm.frontend.tutu.pro
@tutu-hoc:registry=http://npm.frontend.tutu.pro
@tutu-base:registry=http://npm.frontend.tutu.pro
