  <head>
    <title>Nightwatch Reporter</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div id="wrap">
      <div id="main">
        <section id="navigation">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="https://nightwatchjs.org" target="_blank"><div class="logo"></div></a>
            </nav>
          </div>
        </section>
        <section id="auxbar">
          <div class="container-fluid">
            <div class="row">
              <div class="auxcol col-md-4 align-items-center">
                <div class="auxcontainer">
                  <div class="auxbox autobox">
                  </div>
                </div>
              </div>
              <div class="auxcol col-md-4 align-items-center">
                <div class="auxcontainer align-h-center">
                  <h1>Nightwatch.js – <strong>Test Report</strong></h1>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="sessions">
          <div class="row">
          <div class="col-md-12">
          <div class="container-fluid">
            <% Object.keys(modules).forEach(function(key, moduleIndex) {
              var module = modules[key]; %>
                <div id="s<%= moduleIndex+1 %>" class="sessionbox">
                  <%- include('partials/test-module', {module: module, key: key, moduleIndex}) %>
                <% }) %>
          </div>
          </div>
         </div>
        </section>
      </div>
    </div>

    <section id="footer">
      <div class="container-fluid">
        <div class="row footerstarbg">
          <div class="col-md-12">
            <nav class="footer-box">
              <div class="footer-links">
                  <a class="cr" href="https://nightwatchjs.org" target="_blank">© 2022 Nightwatch.js</a>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <script src="js/bootstrap.min.js"></script>
  </body>
